*{
    box-sizing: border-box;
}

html{
    font-size: 13px;
    font-family: 'Chivo', sans-serif;
}

#container{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    background-image: url('imgs/mobile/image-host.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 667px;
    position: relative;
    z-index: 2;
   
}

.layer {
    background-color: hsla(224, 35%, 11%, 0.82);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

header{
    z-index:  2;
}

#text{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 54;
}

#logo{
    display: inline-block;
    margin-bottom: 5rem;
    margin-top: 4.8rem;
    z-index: 3;
}

.turq{
    font-weight: 100;
    color: #54E6AF;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.white{
    font-weight: 100;
    color: #FFF;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.grey{
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.7rem;
    padding: 0 35px;
    color: rgba(216, 218, 226, 0.575);
    font-weight: 100;
    
}

#icons{
    display: flex;
    flex-direction: row;
    width: 90%;
    z-index: 12;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.cast{
   width: 4.4rem;
    height: 1.4rem;
    
}




