*{
    box-sizing: border-box;
}

html{
    font-size: 13px;
    font-family: 'Chivo', sans-serif;
}

#container{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    background-image: url('imgs/mobile/image-host.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    height: 100vh;
    position: relative;
    z-index: 2;
    padding-bottom: 12rem;
   
}





#cube{
    z-index: 99;
    display: flex;
    flex-direction: column;
    
}

.layer {
    background-color: hsla(224, 35%, 11%, 0.82);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

header{
    z-index:  99;
}

#text{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 54;
}

#logo{
    display: inline-block;
    margin-bottom: 5rem;
    margin-top: 4.8rem;
    z-index: 3;
}

.turq{
    font-weight: 100;
    color: #54E6AF;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.white{
    font-weight: 100;
    color: #FFF;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.grey{
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 0 35px;
    color: rgba(216, 218, 226, 0.575);
    font-weight: 100;
    
}

#icons{
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 12;
    justify-content: space-evenly;
    margin-top: 3rem;
    opacity: 0.8;
}

.iconsdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;

}

.iconsdiv2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    position: relative;
    top: 0.2rem;
    right: 0.3rem;
    
}

.cast{
   width: 4rem;
   
}

.cast2{
    
    height: 1rem;
    padding-right: 0.7rem;

}




#forminfo{
width: 100%;
z-index: 4;
display: flex;
flex-direction: column;
align-items: center;

}

form{
    width: 100%;
    display: flex;
flex-direction: column;
align-items: center;
margin-top: 5rem;

}

input{
padding: 17px 30px;
border-radius: 20px;
border: none;
width: 85%;
color:rgba(248, 250, 255, 0.959) ;
font-weight: bold;
background-color: #2C344B;
}

button{
    margin-top: 1.4rem;
    padding: 17px 30px;
border-radius: 20px;
border: none;
width: 85%;
font-weight: bold;
text-align: center;
background-color: #54E6AF;
}

button:hover{
    background-color: hsla(156, 59%, 76%, 0.993);
    cursor: pointer;
}

#error{
    color:crimson ;
    font-size: 1.2rem;
    
}

#graphic{
    display: none;
}

#forminfotablet{
    display: none;
}



@media (min-width:768px){
    #container{
        background-image: url('imgs/tablet/image-host.jpg');
      background-size: 500px 700px;
      background-color: #121725;
      padding-bottom: 0px;
      height: 100%;
      
   
      
      
      
      
    }

    header{
        align-self: flex-start;
 
    }

   #icons{
       order:99;
       width: 520px;
   }

   .iconsdiv{
    justify-content: space-evenly;
    width: 50%;
  

}

.cast{
    width: 6rem;
}

.cast2{
   height: 2rem;
   width: 12rem;
   padding-left: 20px;
}

.iconsdiv2{
    justify-content: center;
    width: 50%;
    
    
}

   .layer{
       display: none;
   }




    #logo{
        margin-top: 3rem;
        margin-left: 4rem;
    }

    #cube{
        width: 635px;
        height: 509px;

    align-self: flex-start;
    background-color: #121725;
    padding-top: 8rem;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;

    }

    .grey{
        text-align: left;
        font-size: 1.4rem;
        width: 76%;
        padding: 0px;
        align-self: flex-start;
        line-height: 2rem;
       
    }

    .turq{
        width: 100%;
       
        font-size: 3rem;
    }

    .white{
        width: 100%;
      
        font-size: 3rem;
    }

    #text{
        padding-left: 35px;
    }

    /* .mobile{
        display: none;
    } */

    #graphic{
        width: 100%;
        padding-left: 40px;
        display: block;
        padding-top: 150px;
    

    }

    .graphic img{
        width: 232px;
        height: 104px;
       display: inline-block;
     

    }

    #forminfo{
        display: flex;
        flex-direction: row;
        padding-left: 30px;
        
    }

   #forminfo form{
        width: 100%;
        display: flex;
    flex-direction: column;
    align-items: baseline;
    
    }

    form.mobile {
        position: relative;
        display: inline-flex;
      }
      
      button[name="cat"] {
        position: absolute;
        top: -16px;
        left: 247px;
        width: 165px;
        padding-top: 15px;
        padding-bottom:15px ;
        text-align: center;
        
      }

    

      input{
          width: 414px;
        padding-top: 20px ;
        padding-bottom: 15px;
      }

      
      
      input.search-box {
        width: 250px;
        font-family: FontAwesome;
        padding: 2px 0;
      }
#error{
    padding-top: 10px;
    padding-left: 20px;
}
      



    
    }

  

     





